    /* Font sizes. */
    :root {
        --font-size-sm: 12px;
        --font-size-md:14;
        --font-sixe-18:18px
    }

    @font-face {
        font-family: Arial;
        src: url(/font/arial.ttf);
      }

    /* colors */
    :root {
        --white: #ffffff;
        --gray-dark: #6d6e71;
        --green: #8ecd58;
        --gray-light: #f5f5f5;
        --face-book-color: #2778ae;
        --instagram-color: #c13584;
        --twiter-color: #15b4c9;
        --border: #d9d9d9;
        --red:#BE2026;
        --tile-gray:#666;
        --product-desc-gray:#313131;
        --footer-p-color:#8d8d8d;
        --footer-li:#4a4a4a;
        --p-color:#888888;
        --red--bold:#920000;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
    }

    .container-fluid {
        background-color: var(--gray-light);
        border-bottom: 1px solid var(--border);
        padding: 10px 5.4rem;

    }

    .top-bar p {
        font-size: var(--font-size-sm);
        margin-top: auto;
        margin-bottom: auto;

    }

    .social {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .social a {
        background-color: var(--white);
        border-radius: 16px;
        border: 1px solid var(--gray-light);
        height: 30px;
        width: 30px;
        text-align: center;
        margin: 0 5px;


    }

    .social a i {
        text-align: center;
        font-size: 16px;
    }

    .facebook {
        color: var(--face-book-color);
    }

    .instagram {
        color: var(--instagram-color);
    }

    .twiter {
        color: var(--twiter-color);
    }

    .sign-btn {
        color: var(--white);
        background-color: var(--gray-dark);
        border: 1px solid var(--white);
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        padding: 6px 0;
        text-align: center;
        width: 100px;
        width: 70px;
        font-size: var(--font-size-md);
        font-size: 12px;
        margin-left: 7px;

    }

    .login-btn {
        background-color: var(--green);
        color: var(--white);
        border: 1px solid var(--white);
        border-left: none;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        padding: 6px 0;
        text-align: center;
        margin-right: 1rem;
        width: 100px;
        width: 70px;
        font-size: 12px;
        margin-right: 7px;

    }


    @media screen and (min-width: 1366px) {
        .container {
            max-width: 1210px !important;
        }

    }
    .menu{
        height: 38px;
        background-color: var(--gray-light);
        border-top: 2px solid var(--red);
        margin-bottom: 1.4rem;
    }

    .search {
        border-radius: 20px;
        border-color: var(--border);
        width: 100%;
    }


    .logo img {
        height: 45px;
    }

    .header{
        padding: 1.4rem 0;
    }

    .menu span{
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-size: var(--font-size-sm);
    }
    .menu span:hover{
        cursor: pointer;
    }
    .builder{
        float: right;
    }
    .builder{
        background-color: var(--red);
        padding: 4px 30px;
        border-radius: 0;
        border-color: var(--red);
    }
    .swiper-slide{
        background-image: url('/images/eblue-chairs.jpg');
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid var(--border);
    }
    .swiper-container{
        width: 100%!important;
    }
    .right-banner img{
        width: 176px;
        height: auto;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
        border: 1px solid var(--border);
        margin-bottom: 2rem;
    }
    .main-tilte{
        display: flex;
        align-items: center;
        text-transform: uppercase;
        margin-top: 40px;
        margin-bottom: 15px;
        border-bottom: 1px dashed var(--border);

    }
    
    .main-tilte h1 {
    font-size: var(--font-size-md);
    color:var(--tile-gray) ;
    margin: 0;
    }
    .main-tilte i {
        padding: 0 10px;
    }
    .main-tilte a{
        color: var(--red);
        text-decoration: none;
    }
    .single-products {
        border: 1px dashed var(--border);
        padding: 7px;
    }
    .single-products a{
        font-size: var(--font-size-sm);
        color: var(--product-desc-gray);
        text-decoration: none;
        min-height: 40px;
    }
    .img-product img{
        width: 200px;
        height: 200px;
        vertical-align: middle;

    }
    .price-product{

        color: var(--red);
        display: flow-root;
        margin: 0 20px;

    }
    .sale-price{
        float: left;
    }
    .normal-price{
        float: right;
        margin-top: 5px;
        text-decoration: line-through;
    }
    .price-product p:first-child{
        font-size: var(--font-sixe-18);

    }
    .btn-product{
        cursor: pointer;
        border: none;
        line-height: 24px;
        text-align: center;
        width: 95px;
        margin-right: 4px;
        color: var(--white);
        font-size: 12px;
    }
    .addCart-btn{
        background-color: var(--tile-gray);
    }
    .addCart-btn:hover{
        background-color: var(--red);

    }
    
    .detailes-btn{
        background-color: var(--red);
    }
    .detailes-btn:hover{
        background-color: var(--tile-gray);
    }
    .btn-container{
        margin-bottom: 13px;
    }
    .footer ul{
        display: flex;
        list-style: none;
        padding-left: 0;
    }
    .footer-border li a{
        text-decoration: none;
        color: var(--footer-li);
    }
    .footer ul li{
        padding: 0 15px;
        vertical-align: middle;
    }
    .footer ul li:first-of-type{
        padding: 0 0px;
    }
    .footer-border{
        border: 1px dashed var(--border);
        margin-bottom: 20px;
        margin-top: 30px;
        background-color: var(--gray-light);
        padding: 20px;
    }
    .btn-container{
        display: flex;
        justify-content: space-around;
    }
           
  /* .........BrandsPage..............        */
  .manufacturers_logo {
    display: block;
    overflow: hidden;
    margin: 0px 20px 20px 0px;
    border: 1px solid #dbdee0;
    min-height: 150px;
    width: 162px;
    padding: 10px 4px 4px 4px;
    float: left;
    line-height: 24px;
}
.manufacturers_logo img {
    float: left;
    margin: 0px;
    width: 162px;
    height: auto;
}
.manufacturers_logo a {
    padding: 0px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
    .copy-right{
        margin: 0;
        color: var(--footer-p-color);
    }
    .swiper-container {
        width: 600px;
        height: 300px;
      }    
         
/* services page */
#services .main-tilte{
    border: none;
}
#services p,ul,li{
color: var(--p-color);
font-size: var(--font-size-sm);
line-height: 20px;
}
#services .main-tilte{
    margin-top: 0;
}
.p-services{
    font-size: var(--font-size-sm);
}
.serices-title{
    color: var(--red--bold);
}
.li-title{
    color: var(--red--bold);
}
#services ul li{
    padding-top: 10px;
}
.btn-services{
    float: right;
    background-color: var(--gray-dark);
    color: var(--white);
    border: none;
    padding: 1px 25px;
}
.btn-services:hover{
 background-color: var(--red--bold);
}
